 <div class="logo">HarvestHub</div>
        <div>Dig. Grow. Survive.</div>
   
        <a href="#" class="menu-item" onclick="loadPage('home.html'); return false;">Главная</a>
        <a href="#" class="menu-item" onclick="loadPage('knowledge.htmll'); return false;">База знаний</a>
        <a href="#" class="menu-item" onclick="loadPage('calculator.html'); return false;">Калькулятор</a>
        <a href="#" class="menu-item" onclick="loadPage('events.html'); return false;">Ивенты</a>
       <a href="#" class="menu-item" onclick="loadPage('todo.html'); return false;">Список дел</a>
        <a href="#" class="menu-item" onclick="loadPage('timeline.html'); return false;">События</a>
        <a href="#" class="menu-item" onclick="loadPage('tips.html'); return false;">Советы</a>
        <a href="#" class="menu-item" onclick="loadPage('settings.html'); return false;">Настройки</a>
