 <div class="logo">HarvestHub</div>
        <div>Dig. Grow. Survive.</div>
   
        <a href="#" class="menu-item" data-page-path="home.html">Главная</a>
        <a href="#" class="menu-item" data-page-path="knowledge.html">База знаний</a>
        <a href="#" class="menu-item" data-page-path="calculator.html">Калькулятор</a>
        <a href="#" class="menu-item" data-page-path="alliance/members.html">Союзный штаб</a>
        <a href="#" class="menu-item" data-page-path="events.html">Ивенты</a>
        <a href="#" class="menu-item" data-page-path="todo.html">Список дел</a>
        <a href="#" class="menu-item" data-page-path="timeline.html">События</a>
        <a href="#" class="menu-item" data-page-path="tips.html">Советы</a>
        <a href="#" class="menu-item" data-page-path="settings.html">Настройки</a>
